.profile {
    width: 40vh;
    float: left;
    margin: 10%
}

body {
    background-color:lightcoral;
    color: rgb(83, 80, 80);
    margin: 10px;
    font-family: sans-serif;
}

h1 {
    margin: 10%;
    background-color: rgb(151, 151, 202);
    text-align: center

}
 ul {
     text-align: center;
     padding-inline-start: 600px;

 }

 li {
     text-align: center;
 }

 h2 {
     text-align: center;
 }

 .paragraph-1 {
     text-align: center
 }

 .but-who {
     text-align: right;

 }