main {
    max-width: 450px;
    margin: auto;
    text-align: center;
}

input {
    display: none;
}

.radio-image {
    height: 150px;
}

#images {
    width: 600px;
    margin-left: -60px;
    margin-top: 80px
}

h2 {
    margin: 90px;
}

#go {
    width: 100px;
    height: 60px;
    margin: 40px;
}

.radio-image {
    border: 1px solid transparent;
    border-radius: 100%;

}
input:checked + .radio-image {
        box-shadow: 10px 30px 80px grey;
    
    }

#record {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin-top: 200px;
        margin-left: 50px;
    }

#result img {
        box-shadow: 10px 30px 80px grey;
        border-radius: 100%;
        transition:ease-in-out;
        width: 400px;

}
   
.invisible {
        display: none;
}